HTTP_ADDR=:8000
CORS=localhost,127.0.0.1
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://fake_user:fake_pass@localhost:26257/defaultdb?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations/sql
GOOSE_TABLE=public.goose_migrations
